footer{
    width: 80%;
    color: rgb(35, 243, 8);
    margin: auto;
    margin-top: 0.5rem;
    border: none;
margin: 80px;


}
.footer-section{
    display: flex;
    justify-content: space-between;

}