
#main > h1 {
    margin-bottom: 8%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    color: #00d1d1;
    letter-spacing: 0.1em;
  }


/* 
  .navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    margin-bottom: 20px;
    height:  100%;
  } */

  .navigation > a {
    background-color: #02e7c9;
    color: white;
    border: none;
    outline: none;
    padding: 14px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.3s;
    display: flex;


    
  } 

  
  .p {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    line-height: 0.1em;
  }
  
  .p span {
    background:#ce0303;
    padding:0 10px;
  }
  
  input {
    margin-bottom: 3%;
  }
  
  input:last-of-type {
    margin-bottom: 0;
  }
  
  input, button {
    padding: 3%;
    width: 100%;
  }
  
  .login-container {
    background-color: white;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40vw;
    margin: auto;
    height: 70vh;
    margin-top: 1vh;
  }
  
  #submit, #create-acct-btn {
    background-color: #060b1f;;
    color: white;
    border: none;
    margin-top: 5%;
  }
  
  button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }
  
  #sign-up {
    border: none;
  }
  
  #create-acct {
    display: none;
  }
  
  #return-btn {
    background: none;
    color: grey;
    text-decoration: underline;
    border: none;
    margin-top: 3%;
  }


   #nav-links a {
    color: #ddd;
    text-decoration: none;
    margin: 0 16px;
    font-size: 18px;
    transition: color 0.3s ease;
}

#nav-links a:hover {
    color: #f5bd07;
}

#nav-links .signup-btn {
    padding: 10px 20px;
    border: none;
    background-color: #850885;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

#nav-links .signup-btn:hover {
    background-color: #f5bd07;
    color: #222;
} 